<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
          <ion-list-header class="ion-padding">
            <ion-label class="ion-text-center"><h1>Sign Up</h1></ion-label>
          </ion-list-header>

          <ion-item class="ion-padding">
            <ion-label>Name:</ion-label>
            <ion-input
              type="text"
              placeholder="John"
              name="name"
              [(ngModel)]="user.name"
              required
            ></ion-input>
          </ion-item>

          <ion-item class="ion-padding">
            <ion-label>surname:</ion-label>
            <ion-input
              type="text"
              placeholder="Doe"
              name="surname"
              [(ngModel)]="user.surname"
              required
            ></ion-input>
          </ion-item>

          <ion-item class="ion-padding">
            <ion-label>Email:</ion-label>
            <ion-input
              type="email"
              placeholder="john.doe@mail.com"
              name="email"
              [(ngModel)]="user.email"
              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
              required
            ></ion-input>
          </ion-item>

          <ion-item class="ion-padding">
            <ion-label>Password:</ion-label>
            <ion-input
              type="password"
              name="password"
              [(ngModel)]="user.password"
              required
              placeholder="*******"
            ></ion-input>
          </ion-item>

          <ion-button
            class="ion-padding-horizontal custom-button"
            [disabled]="signUpForm.invalid"
            type="submit"
            expand="block"
            color="dark"
          >
            Sign Up
          </ion-button>

          <ion-label class="ion-text-center">
            <h3>
              Already have a acount?
              <ion-text
                class="clickable-text"
                color="secondary"
                (click)="goToLogin()"
              >
                Log In
              </ion-text>
            </h3>
          </ion-label>

          <div class="spin ion-padding" *ngIf="loading">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
