<app-header
  (searchChange)="onSearchChange($event)"
  (deleteUsers)="onDeleteUsers()"
  (logout)="logout()"
  [checkedUsers]="checkedUsers"
></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-virtual-scroll
          [items]="users | searchFilter:searchText"
          approxItemHeight="125px"
        >
          <ion-item *virtualItem="let item" class="ion-padding">
            <ion-checkbox
              id="{{ item.id }}"
              (ionChange)="onCheckUser($event)"
              color="dark"
              [checked]="checkedUsers.includes(item.id)"
              slot="start"
              [disabled]="item.id === authInfo.id"
            >
            </ion-checkbox>

            <ion-avatar class="avatar" slot="start">
              <img src="{{item | avatarImage }}" />
            </ion-avatar>

            <ion-label>
              <h1><strong>{{ item.name }}</strong></h1>
              <h2><strong>{{ item.surname }}</strong></h2>
              <p>{{ item.email }}</p>
            </ion-label>

            <ion-buttons slot="end">
              <ion-button color="medium" (click)="editUser(item)">
                <ion-icon size="small" name="pencil-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
