<ion-avatar class="avatar">
  <img src="{{ user | avatarImage }}" />
</ion-avatar>

<form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
  <ion-item class="ion-padding">
    <ion-label>Name:</ion-label>
    <ion-input
      type="text"
      placeholder="John"
      name="name"
      [(ngModel)]="user.name"
      required
    ></ion-input>
  </ion-item>

  <ion-item class="ion-padding">
    <ion-label>Surname:</ion-label>
    <ion-input
      type="text"
      name="surname"
      [(ngModel)]="user.surname"
      placeholder="Doe"
      required
    ></ion-input>
  </ion-item>
  <ion-button
    class="ion-padding-horizontal edit-button"
    color="dark"
    size="large"
    type="submit"
    expand="block"
    [disabled]="updateForm.invalid"
  >
    Update
  </ion-button>
</form>
