<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <ion-button
        color="danger"
        (click)="onDeleteUsers()"
        [disabled]="checkedUsers.length === 0"
      >
        <ion-icon size="large" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-md="6" offset-md="3">
          <ion-searchbar
            class="ion-padding"
            placeholder="Search users"
            inputmode="text"
            (ionChange)="onSearchChange($event)"
            [debounce]="250"
            animated
          ></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-buttons slot="end" class="ion-padding">
      <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>

      <ion-button (click)="onLogout()" *ngIf="!loading">
        <ion-icon size="large" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
