<ion-menu
  (ionDidClose)="onClose()"
  side="start"
  menuId="drawer"
  contentId="main"
  swipeGesture="false"
>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="closeMenu()" fill="clear">
          <ion-icon size="large" name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-edit-user *ngIf="user.id" [user]="user"></app-edit-user>
  </ion-content>
</ion-menu>
