ion-menu {
  --width: 40%;
}

@media (max-width: 720px) {
  ion-menu {
    --width: 60%;
  }
}

@media (max-width: 576px) {
  ion-menu {
    --width: 100%;
  }
}

ion-header {
  --ion-toolbar-background: transparent;
}
